wp-config.php

wp-content/cache/
wp-content/upgrade/

wp-content/uploads/

wp-content/ai1wm-backups/
wp-content/aiowps_backups/

*.log
debug.log

.DS_Store
Thumbs.db

local-xdebuginfo.php

license.txt
readme.html